.landing {
  /* position: relative;
  top: 50px; */
  height: calc(100vh);
  width: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: 50% 80%;
}

@media screen and (max-width: 450px) {
  .landing {
    background-position: 26%;
  }
}
