.landing {
  /* position: relative;
  top: 50px; */
  height: calc(100vh);
}

.landing img {
  width: 100%;
  height: calc(100vh);
  object-fit: cover;
  object-position: 50% 60%;
}

@media screen and (max-width: 450px) {
  .landing img {
    object-position: 68%;
  }
}
