.divider {
  height: 50px;
  width: 100%;
  background-color: #000000e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.anchor {
  visibility: hidden;
  transform: translateY(-80px);
}

.divider-text-reveal {
  --typewriter-delay: 800ms; /* setting variable here to trigger typewriter animation with intersection observer */
  --typewriter-duration: 3500ms;
}

.divider-text {
  color: var(--text-white);
  font-family: "Source Code Pro", monospace;
  font-size: 1.6rem;
  position: relative;
}

/* Typewriter logic below */

.divider-text::before,
.divider-text::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* note that the number of steps will match the number of chars */
.divider-text::before {
  background-color: black;
  animation: typewriter var(--typewriter-duration) steps(28)
    var(--typewriter-delay) forwards;
}

.divider-text::after {
  width: 0.125em;
  background: var(--text-white);
  animation: typewriter var(--typewriter-duration) steps(28)
      var(--typewriter-delay) forwards,
    blink 750ms steps(28) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@media screen and (max-width: 500px) {
  .divider-text {
    font-size: 1.3rem;
  }
}
