.divider {
  height: 50px;
  width: 100%;
  background-color: #000000e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider h3 {
  color: var(--text-white);
  font-size: 1.8rem;
}
