.edit-slider-section-container {
  height: 1000px;
  margin-top: 90px;
  align-items: center;
}

.edit-slider-header {
  /* color: var(--color-golden); */
  color: #eeeeee;
  /* background-color: green; */
  text-align: center;
  font-size: 3rem;
}

/* editing slider section; look below for text section */

.edit-slider-content-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  /* background-color: red; */
}

.edit-slider-container {
  height: var(--std-img-height);
  width: var(--std-img-width);
  min-width: var(--std-img-width);
  display: flex;
  position: relative;
  user-select: none;
  border: 3px solid var(--color-golden);
  border-radius: 30px;
  overflow: hidden;
  margin-right: 5%;

  opacity: 0;
}

.edit-slider-appear {
  opacity: 1;
  transition: opacity 1000ms ease;
}

.edit-slider-container img {
  height: var(--std-img-height);
  width: var(--std-img-width);
  user-select: none;
}

.bottom-image {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-image {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* edit slider bar */

.edit-slider-divider {
  z-index: 8;
  height: var(--std-img-height);
  width: 5px;
  background-color: black;
  display: flex;
  align-items: center;
}

.edit-slider-divider-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  border: 2px solid black;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.edit-slider-divider-circle * {
  font-size: 100px;
  color: #ebad11;
}

/* text section */

.edit-slider-text {
  /* background-color: green; */
  color: var(--color-golden);
  text-align: center;
  align-self: center;
  max-width: 30%;
}

.edit-slider-text > h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}
