.edit-slider-section-container {
  display: flex;
  height: 100vh;
  padding: 50px 0 50px 0;
  /* background-color: #171717; */
  background-color: black;
  /* background-color: blue; */
  align-items: center;
}

.edit-slider-text {
  background-color: green;
  height: 80%;
  width: 60%;
}

.edit-slider-container {
  /* height: 80%; */
  height: 500px;
  width: 400px;
  display: flex;
  margin: 20px;
  position: relative;
  user-select: none;
  background-color: red;
  border: 2px solid white;
  border-radius: 80px;
  overflow: hidden;
}

.edit-slider-container img {
  height: 100%;
  border: 2px solid white;
  border-radius: 80px;
}

.bottom-image {
  z-index: 1;
  /* height: 90%; */
  height: 500px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-image {
  z-index: 5;
  /* height: 90%; */
  height: 500px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.edit-slider-divider {
  z-index: 10;
  /* height: 90%; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 15px;
  background-color: white;
  border: 2px solid black;
}
