.navbar {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  position: fixed;
  z-index: 10;
  top: 3%;
}

.icon {
  display: none; /* change when I pass landing page */
  color: rgba(255, 217, 0, 0.774);
  font-size: 1.2rem;
}

.list-links {
  display: flex;
}

.list-links > li {
  list-style: none;
  margin: 0 1rem;
  transition: transform 250ms ease;
}

.list-links > li > a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.list-links > li > a:hover {
  color: white;
  transition: color 50ms ease;
  border-bottom: 2px solid white;
}

.list-links > li:hover {
  transition: transform 250ms ease;
  transform: scale(1.15);
}
