.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  justify-content: center;
  gap: 10px;
}

.image-container {
  height: 500px;
  width: 400px;
  border: 2px solid transparent;
  border-radius: 10px;
  overflow: hidden;
  transform: translateY(20%);
}
/* randomize */
.slide-up {
  transform: translateY(0);
}

.image-container img {
  height: 100%;
  width: 100%;
}
