.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  justify-content: center;
  gap: 10px;
  margin-bottom: 100px;
}

.gallery-header {
  color: var(--text-white);
  text-align: center;
  padding: 20px 0;
}

.image-container {
  height: 500px;
  width: 400px;
  border: 2px solid transparent;
  border-radius: 10px;
  overflow: hidden;
}

.image-container img {
  height: 100%;
  width: 100%;
}

@keyframes image-slide-up {
  0% {
    transform: translateY(40%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes image-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 500px) {
  .gallery-header {
    padding-top: 50px;
  }
  .gallery-container {
    grid-template-columns: repeat(1, 400px);
    justify-content: center;
  }
}
