.carousel {
  height: 100%;
  user-select: none;
  position: relative;
}

.carousel-background {
  height: var(--std-img-height);
  width: var(--std-img-width);
  background-color: var(--color-golden);
  border: 1px solid;
  border-radius: 30px;
}

.image-card {
  position: relative;
  height: var(--std-img-height);
  width: var(--std-img-width);
  text-align: center;
  box-sizing: border-box;
  border-radius: 30px;
  overflow: hidden;
  border-style: solid;
  border-color: var(--color-golden);
  border-width: 2px;
}

.image-card img {
  height: var(--std-img-height);
  width: var(--std-img-width);
  object-fit: cover;
  cursor: pointer;
  overflow: hidden;
  margin-top: 0;
  padding-top: 0;
  vertical-align: bottom;
  transform: scale(1);
  transition: transform 250ms ease;
}

.image-card img:hover {
  transform: scale(1.05);
  transition: transform 250ms ease;
}

.image-card::after {
  content: attr(category);
  background-color: var(--color-golden);
  letter-spacing: 0.04rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0.2rem 1rem;
  font-size: 2rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.right-arrow {
  font-size: 3.5rem;
  cursor: pointer;
  position: absolute;
  bottom: 2%;
  right: 10%;
  color: rgba(255, 255, 255, 0.7);
}

.left-arrow {
  font-size: 3.5rem;
  cursor: pointer;
  position: absolute;
  bottom: 2%;
  left: 10%;
  color: rgba(255, 255, 255, 0.7);
}

.slide-inactive {
  transition: 1s ease;
}

.slide-active {
  opacity: 1;
  transition-duration: 1s;
}

@media screen and (max-width: 500px) {
  .image-card,
  .image-card img,
  .carousel-background {
    height: 400px;
    width: 320px;
  }
  .carousel-background {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
