.carousel {
  display: flex;
  position: relative;
  width: 33%;
  justify-content: center;
  background-color: red;
  border-radius: 30px;
  padding-bottom: 3rem;
}

.carousel img {
  height: 300px;
  border-radius: 10px;
}

.right-arrow {
  font-size: 3rem;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 37%;
}

.left-arrow {
  font-size: 3rem;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 37%;
}

.slide-inactive {
  opacity: 0;
  transition: 1s ease;
}

.slide-active {
  opacity: 1;
  transition-duration: 1s;
}
