.sneak-peek {
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.carousel-left {
  display: flex;
  justify-content: flex-start;
  padding: 50px 50px 50px 150px;
  /* background-color: green; */
  height: 700px;
}

.carousel-text {
  color: white;
  /* background-color: brown; */
  margin: 0 auto;
  /* align-self: center; */
}

.carousel-right {
  display: flex;
  justify-content: flex-end;
  padding: 50px 150px 50px 50px;
  /* background-color: red; */
  height: 700px;
}

.carousel-fade {
  opacity: 0;
  transform: translateY(8%);
}

.carousel-appear {
  transform: translateY(0px);
  transition: transform 500ms ease-out, opacity 700ms ease-out;
  opacity: 1;
}
