:root {
  --color-black: #000000e6;
  --color-golden: #ebad11a4;
  --text-white: #eee;
  --text-golden: #ebad11;
  /* --text-golden: #ebad11d8; */

  /* image heights */
  --std-img-height: calc(
    500px * 1.2
  ); /* standard image height for 4:5 aspect ratio */
  --std-img-width: calc(400px * 1.2);
}

/* media query breakpoints: 2000px, 1200px, 1000px, 500px */
/* have only implemented 500px breakpoints */

/* 500px: height = 500 * 0.8 */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  font-family: "Arial";
}

/* img {
  pointer-events: none;
} */

body {
  background-color: black;
}

html {
  scroll-behavior: smooth;
}
